<!--Vista para Añadir Compras-->
<div class="split left">
  <div class="centered">
    <!--Encabezado de la Pagina-->
    <h2>Añadir Gastos</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/imagenes/Gastos.png">
  </div>
</div>

<div class="split right">
<div class="col-md-6 user-container">
    
      <div class="form-group">
        <!--Contenedor para Ingresar Proyecto-->
        <label for="descripcion"><b>Proyecto</b>:</label>
        <input  placeholder="Proyecto" [value]="Proyecto" class="form-control" formControlName="Proyecto">
      </div>
    
      <div class="form-group">
        <!--Contenedor para Ingresar Proveedor-->
        <label for="descripcion"><b>Proveedor</b>:</label>
        <input  placeholder="Proveedor" [value]="Provedor" class="form-control" formControlName="Provedor">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Materiales-->
        <label for="frealcomp"><b>Materiales</b>:</label>
        <input placeholder="Materiales" [value]="Materiales" class="form-control" formControlName="Materiales">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Número de Factura-->
        <label for="fregcomp"><b>Número Factura</b>:</label>
        <input placeholder="Número Factura" [value]="NumeroFactura" class="form-control" formControlName="NumeroFactura">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Imagen Factura-->
        <label for="proveedor"><b>Imagen Factura</b>:</label>
        <input  placeholder="Imagen Factura" [value]="ImagenFactura" class="form-control" formControlName="ImagenFactura">
      </div>
  
      <!--Boton para Añadir-->
      <button class="btn btn-success" [routerLink]="'/empleados'">Añadir</button>
    
  </div>
  </div>