<!--Vista para Añadir Compras-->
<div class="split left">
  <div class="centered">
    <!--Encabezado de la Pagina-->
    <h2>Añadir Gastos</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/imagenes/Gastos.png">
  </div>
</div>

<div class="split right">
<div class="container">
    <form #GastosAdd='ngForm' (ngSubmit)="AgregarGasto(GastosAdd)">      
          

          <div class="form-group input-group-lg">
              <!--Contenedor para Ingresar Proyecto-->
              <label for="IDObra"><b>Obra</b>:</label>
              <input  placeholder="Obra" name="IDObra" [(ngModel)]="objgasto.IDObra" #IDObra="ngModel">
            </div>
      
          <div class="form-group input-group-lg">
            <!--Contenedor para Ingresar Materiales-->
            <label for="Proveedor"><b>Proveedor</b>:</label>
            <input placeholder="Proveedor" name="Proveedor" [(ngModel)]="objgasto.Proveedor" #Provedor="ngModel">
          </div>
      
          <div class="form-group input-group-lg">
            <!--Contenedor para Ingresar Número de Factura-->
            <label for="IDFactura"><b>Número Factura</b>:</label>
            <input placeholder="Número Factura" name="IDFactura" [(ngModel)]="objgasto.IDFactura" #IDFactura="ngModel">
          </div>
    
          <div class="contenedor">
              <div class="contenedor_formulario">
                <h5>Elegir Imagen de Factura</h5>
                <p class="download" *ngIf="finalizado">Archivo Subido <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
                <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                  <div class="file has-name is-boxed">
                    <label class="file-label">
                      <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                      <span class="file-cta">
                        <span class="file-label">
                          Elegir un archivo:
                        </span>
                      </span>
                      <span class="file-name">
                        {{ mensajeArchivo }}
                      </span>
                    </label>
                  </div>
                  <hr>
                  
                  <button [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
                </form>
              </div>
            </div>

            <div class="form-group input-group-lg">
                <!--Contenedor para Telefono-->
                <label for="Foto"><b>Foto</b>:</label>
                <input  placeholder="Foto" name="Foto" [(ngModel)]="objgasto.Foto" #Foto="ngModel">
              </div>

    </form>
      
      <!--Boton para Añadir-->
      <button type="submit" class="btn btn-success" (click)="AgregarGasto(GastosAdd)">Añadir</button>
    
  </div>
  </div>