<div class="col-md-12 user-container">
  <!--Encabezado Vista-->
  <h2 style="margin: auto; padding: 10px"> Empleados</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" [routerLink]="'/agregarempleados'"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <!--División de la Tabla-->
      <th class="hidden">Cédula</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Pago por Hora</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <!--Informacion Tabla-->
      <td>{{user.Cedula}}</td>
      <td>{{user.Nombre}}</td>
      <td>{{user.Telefono}}</td>
      <td>{{user.PagoHora}}</td>
      
      <td><button class="btn btn-success" > Eliminar</button></td>
        <td><button class="btn btn-success" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>