<div class="col-md-12 user-container">
  <!--Encabezado Vista-->
  <h2 style="margin: auto; padding: 10px"> Proyectos </h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" [routerLink]="'/agregarproyectos'"> Agregar </button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <!--División de la Tabla-->
      <th class="hidden">Nombre</th>
      <th>Ubicación</th>
      <th>Habitaciones</th>
      <th>Baños</th>
      <th>Pisos</th>
      <th>Metros Construcción</th>
      <th>Metros Área</th>
      <th>Ingeniero</th>
      <th>Ingeniero</th>
      <th>Ingeniero</th>
      <th>Cliente</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <!--Informacion Tabla-->
      <td>{{user.Nombre}}</td>
      <td>{{user.Ubicacion}}</td>
      <td>{{user.Habitaciones}}</td>
      <td>{{user.Banos}}</td>
      <td>{{user.Pisos}}</td>
      <td>{{user.AreaConstruccion}}</td>
      <td>{{user.AreaLote}}</td>
      <td>{{user.IDIngeniero1}}</td>
      <td>{{user.IDIngeniero2}}</td>
      <td>{{user.IDIngeniero3}}</td>
      <td>{{user.IDCliente}}</td>
      
      <td><button class="btn btn-success" > Eliminar</button></td>
        <td><button class="btn btn-success" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>