<!--Vista para Añadir Compras-->
<div class="split left">
  <div class="centered">
    <!--Encabezado de la Pagina-->
    <h2>Añadir Clientes</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/imagenes/Clientes.png">
  </div>
</div>

<div class="split right">
<div class="container">
      <form #ClienteAdd="ngForm" (ngSubmit)="AgregarCliente(ClienteAdd)">
          <div class="form-group input-group-lg">
              <!--Contenedor para Ingresar Cédula-->
              <label for="Cedula"><b>Cédula</b>:</label>
              <input  placeholder="Cédula" name="Cedula" [(ngModel)]="objcli.Cedula" #Cedula="ngModel">
            </div>
          
            <div class="form-group input-group-lg">
              <!--Contenedor para Ingresar Nombre-->
              <label for="Nombre"><b>Nombre</b>:</label>
              <input  placeholder="Nombre" name="Nombre" [(ngModel)]="objcli.Nombre" #Nombre="ngModel">
            </div>
        
            <div class="form-group input-group-lg">
              <!--Contenedor para Telefono-->
              <label for="Telefono"><b>Telefono</b>:</label>
              <input  placeholder="Telefono" name="Telefono" [(ngModel)]="objcli.Telefono" #Telefono="ngModel">
            </div>


      </form>

      <!--Boton para Añadir-->
      <button type="submit" class="btn btn-success" (click)="AgregarCliente(ClienteAdd)">Añadir</button>
    
  </div>
  </div>